a img {
	border: 0px;
}

p {
	text-align: justify;
}

#site_header, #site_footer, #site_navmenu,
#page_header, #page_content {
	margin: 10px auto;
	width: 95%;
}

#google_search,
#site_navmenu,
#index_links,
#page_header object,
#sidebar {
	display: none;
}

#site_header table {
	margin: 0px;
	border: 0px;
}

#site_header td {
	background-color: #ffffff;
	border: 0px;
	padding: 0px;
}

#site_header p {
  color: #0000ff;
  margin-top: 18px;
  font-size: 25px;
}

#site_tagline {
	float: right;
	margin: -33px 0px 0px 0px;
}

h1 {
	border-bottom: 2px solid #000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	font-weight: thick;
	margin: 0px 1px 20px 0px;
}

h2 {
  color: #0000dd;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	font-weight: thicker;
	margin: 2px 0px 15px 0px;
}

h3 {
  color: #0000aa; 
	font-size: 21px;
	font-weight: thicker;
}

table {
	margin: 0px;
	padding: 3px;
}

td {
	padding: 6px;
	border-width: 1px
}

#page_header img {
	display: none;
}

/*
 * SITE FOOTER RULES
 */
#site_footer {
	clear: both;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	padding: 10px 0px 20px 0px;
}

#site_footer table {
	margin: 0px;
	border: 0px;
}

#site_footer td {
	background-color: #ffffff;
	font-size: 9px;
	border: 0px;
}