/*
 * GENERAL RULES
 */
body, p, th, td, input, textarea, select, option {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

body {
	background-color: #FFFFFF;
	padding-top: 5px;
	margin: 0px;
	padding: 0px;
}

p {
	line-height: 16px;
	margin: 0px 0px 10px 0px;
	text-align: justify;
}

a img {
	border: 0px;
}


/*
 * MAIN STRUCTURE RULES
 */
#site_header, #site_footer, #site_navmenu,
#page_header, #page_content {
	margin: 0px auto;
	width: 770px;
}


/*
 * SITE HEADER RULES
 */
#site_header {
	margin-top: 10px;
}

#site_header table {
	margin: 0px;
	border: 0px;
}

#site_header td {
	background-color: #ffffff;
	border: 0px;
	padding: 0px;
}

#site_header p {
  color: #0000ff;
  margin-top: 25px;
  font-size: 20px;
}  

/*
 * NAVIGATION MENU RULES
 */
#site_navmenu {
  background-color: #0c2694;
        border-top: 2px solid #FFFFFF;
	border-bottom: 3px solid #FFFFFF; /* gap between main menu and side menu picture */
	clear: both;
	padding: 6px 0px; 
}
#site_navmenu ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
	text-align: right;
}
#site_navmenu ul li {
	color: #ffffff;
	display: inline;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
}
#site_navmenu ul li a,
#site_navmenu ul li a:visited {
	color: #ffffff;
	text-decoration: none;
}
#site_navmenu ul li a:hover {
	color: #ffcc30;
}
#site_navmenu li#link_cn {
	float: left;
}

/*
 * SITE FOOTER RULES
 */
#site_footer {
	clear: both;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	padding: 20px 0px 20px 0px; /* the first number (=20px now) is for the gap between page content and footer */
}

#site_footer table {
	margin: 0px;
	border: 0px;
}

#site_footer td {
	background-color: #ffffff;
	font-size: 9px;
	padding: 0px;
}


/*
 * PAGE HEADER RULES
 */
/*
#page_header > object {
	margin: 0px 2px 0px 3px;
}
*/images/*
 * CONTENT AREA RULES
 */

#page_content {
	background-image: url(../images/sidebar_bg.gif);
	background-position: bottom left;
	background-repeat: no-repeat;
/*	height: 390px;
*	min-height: 390px;
*/
} 
 
body > #page_content {
	height: auto;
}
#page_content p {
   margin-left: 10px;
}

#page_header h1 {
	display: none;
}

#page_content h3 {
	padding: 0px 0px 5px 0px;
	line-height: 180%;
	margin-left: 10px;
}

h2 {
  color: #0000dd;
	border-left: 5px solid #AA0000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: normal;
	margin: 6px 0px 27px 0px; /* 27px -- bottom gap to the first line of article */
	padding:6px 6px;
}

h3 {
	color: #CC0500;
	font-size: 15px;
}

li {
	padding: 0px 0px 5px 0px;
}

#sidebar {
	background-color: #0c2694;
	float: left;
	width: 195px;
	margin-top: 20px;/* gap before sidebar text */
	padding-top: 0px; 
}

#sidebar ul {

	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 16px;
}
#sidebar li {
   color: #ffffff;
   margin-left: 16px;
}
#sidebar h3{
  color: #f5a900;
  font-size: 12px;
  pading: 0px 0px 0px 10px;
  margin: 0px 0px 0px 10px;
		
}
#content {
	margin: 0px 0px 0px 202px;
	padding: 6px 0px 0px 8px;
	background-image: url(../images/page_bg.gif);
	background-position: bottom right;
	background-repeat: no-repeat;
/*  height: 390px;
	min-height: 390px;
*/
}

#content ul {
	list-style-image: url(../images/bullet.gif);
	margin: 2px;
	padding: 5px 20px;
}

#content li {
	padding: 0px 0px 5px 0px;
	line-height: 180%;
	margin-left: 20px;
}

#sidebar_featured {
	background-color: #0c2694;
	padding: 0px;
}

#sidebar_featured ul li a,
#sidebar_featured ul li a:visited {
	color: #FFFFFF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	text-decoration: none;
}
#sidebar_featured ul li a:hover {
	text-decoration: underline;
}
#sidebar_featured ul {
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 10px;
}
#sidebar_featured li {
   color: #ffffff;
   margin-left: 10px;
}
.mower {
	clear: both;
}

.redbold {
	color: #C50505;
	font-weight: bold;
}

table {
	margin: 0px;
	width: 99%;
	padding: 3px;
}


td {
	background-color: transparent;
	margin: 0px;
	padding: 6px;
	vertical-align: top;
	text-align: left;
}

form table {
	border: 0px;
}
form th, form td {
	background-color: transparent;
	padding: 3px;
}

input.submit {
	font-weight: bold;
	padding: 2px 5px;
}

a:link, a:hover {
	color: #006AD5
}
a:visited {
	color: #0054A5;
}


.totop {
	background-image: url(../images/bullet_top.gif);
	background-position: right;
	background-repeat: no-repeat;
	display: block;
	padding: 3px;
}

a.toback {
	background-image: url(../images/bullet_back.gif);
	background-position: center left;
	background-repeat: no-repeat;
	padding: 0px 0px 0px 10px;
}

#site_footer a,
#site_footer a:visited,
#site_footer a:hover {
	color: #333333;
}

.error {
	color: #FF0000;
}

.signature {
	font-size: 14px;
	text-align: right;
}

table.videos, table.videos td {
	background-color: transparent;
	border: 0px;
}