<div id="header">
   <div id="header_content" class="container">
      <a href="/en/">
        <h1>Ruby</h1>
        <h2>A Programmer's Best Friend</h2>
      </a>

     <div class="site-links">
        <a href="/en/" class="home">Home</a>
        <a href="/en/downloads/">Downloads</a>
        <a href="/en/documentation/">Documentation</a>
        <a href="/en/libraries/">Libraries</a>
        <a href="/en/community/">Community</a>
        <a href="/en/news/">News</a>
        <a href="/en/security/">Security</a>
        <a href="/en/about/">About Ruby</a>
        <a href="#" class="menu selected">Menu</a>
     </div>
   </div>
 </div>
