    <div id="header">
      <div id="header_content" class="container">
        <a href="/en/">
          <h1>Ruby</h1>
          <h2>A Programmer's Best Friend</h2>
        </a>

        <div class="site-links">
          <a href="/en/" class="home">Home</a>
          
  


  <a href="/en/downloads/">Downloads</a>

  <a href="/en/documentation/">Documentation</a>

  <a href="/en/libraries/">Libraries</a>

  <a href="/en/community/">Community</a>

  <a href="/en/news/">News</a>

  <a href="/en/security/">Security</a>

  <a href="/en/about/">About Ruby</a>


          <a href="#" class="menu selected">Menu</a>
        </div>

        <div id="search-box">
          
  
  

<form id="search-form" action="https://www.google.com/cse">
  <table class="fieldset">
    <tr>
      <td>
        <input class="field" type="text" name="q" size="31" style="background: white url(//www.google.com/coop/intl/en/images/google_custom_search_watermark.gif) left no-repeat" onfocus="this.style.background='white'" onblur="if (/^\s*$/.test(this.value)) this.style.background='white url(//www.google.com/coop/intl/en/images/google_custom_search_watermark.gif) left no-repeat'"/>
      </td>
      <td>
        <input type="hidden" name="cx" value="013598269713424429640:g5orptiw95w" />
        <input type="hidden" name="ie" value="UTF-8" />
        <input class="button" type="submit" name="sa" value="Search" />
      </td>
    </tr>
  </table>
</form>

        </div>
      </div>
    </div>